body {
    font-size: 25px;
    background-color: whitesmoke;
    text-align: center;
    font-family:'ABeeZee', sans-serif;
}

h1 {
    color: #18A1E0;
}

p {
    color: darkslategrey;
}

button {
    width: 21%;
    height: 40px;
    background-color: #C4E7F7;
    border: 1px solid darkslategrey;
    font-size: 20px;
    border-radius: 25px;
    font-family:'ABeeZee', sans-serif;
    margin: 0 9px auto;
}

form {
    width: 100%;
}

#input {
    background-color: #C4E7F7;
    width: 45%;
    height: 35px;
    border: 1px solid darkslategrey;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    margin: 0 0 20px 0;
}